{% extends 'base.html' %}

{% block content %}
<br>
    <ul>
        {% for post in posts%}
        <article>
            <h2><a href="{% url 'blog:post_detail' pk=post.pk %}">#{{post.id}} - {{ post }}</h2></a>
            <p>({{post.created_date}}) {{post.text|truncatewords:3}}</p>
            <p><a href="{% url 'blog:post_detail' pk=post.pk %}">Lire la suite</a></p>
        </article>
        {% if not forloop.last %}
            <hr>
        {% endif %}
        {% empty %}
            <p>No post available</p>
        {% endfor %}
        <a href="{% url 'blog:new_post' %}">Ajouter un article</a>
    </ul>

{% endblock %}
