{% load bootstrap4 %}
{% bootstrap_css %}

<!DOCTYPE HTML>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-info mb-4">
    <div class="navbar-inner">
        <ul class="nav pull-right">
            <a href="{% url 'home' %}" class="navbar-brand" >Home</a>
            <a href="/blog" class="navbar-brand" >Blog</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href=/about/>About</h2></a>
                    </li>
                    <li class="nav-item active">
                    <a class="nav-link" Href=/contact/>Contact</h2></a>
                    </li>
                </ul>
            </div>
        </ul>   
    </div>
</nav>
{%block content%}
{%endblock%}
</body>
</html>